@import url(normalize.css);
@import url("https://use.typekit.net/rom5bbv.css");

html {
  scroll-behavior: smooth;
}

body{
<<<<<<< Updated upstream

=======
	font-family: economica;
	box-sizing: border-box;
}

/* ALGEMENE CODE */

h1{
	margin-top: 0;
	font-family: caliban-std;
	color: #ABD2C8;
	font-size: 80px;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

h2{
	text-transform: uppercase;
	font-size: 40px;
	color: #517060;
}

h3{
	color: #ABD2C8;
	font-size: 30px;
}

/* HEADER */

header{
	background-image: url("../images/achtergrond2.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
	padding-top: 200px;
}
>>>>>>> Stashed changes

.header{
	display: flex;
	justify-content: space-between;
}

<<<<<<< Updated upstream
=======
.header .logo img{
	width: 550px;
}

/* NAVIGATIE */

nav{
	z-index: 1;
	position: relative;
}

nav ul{ 
	margin: 0;
	padding: 0;
}

nav li{
	display: inline-block;
	font-size: 28px;
	font-weight: bold;
	padding-right: 20px;
}

nav ul li a{ 
	text-decoration: none;
	color: #707070;
}

nav ul li a:hover{ 
	color: #ABD2C8;
}

/* OVER ONS */

.overons{
 	border: 1px solid #707070;
 	background-image: url("../images/groen.png");
 	background-repeat: no-repeat;
 	background-size: contain;
 	margin-top: 40px;
}

.overons p{
	font-size: 20px;
	font-weight: normal;
}

.overons_flex{
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.overons_flex div{
	width: 390px;
}

.overons_img{
		padding-top: 130px;
}

.blaadje_absolute{
	position: absolute;
	top: 470px;
	left: 30px;
	z-index: 0;
}

.foodtruck_absolute{
	position: absolute;
	top: 825px;
	left: 850px;
}


.verwijzing{
 	background-color: #517060;
 	color: white;
 	padding: 10px;
 	margin-top: -3px;
 	line-height: 25px;
}

/* AANBOD */

.menukaart p{
	font-size: 20px;
	line-height: 26px;

}

.img_block{
	display: flex;
	justify-content: space-between;
}

.img_block img{
	width: 180px;
}

.img_block div{
	width: 180px;
}

.img_block span.euro{
	font-size: 100px;
	font-weight: bolder;
	text-align: center;
}

.prijs{
	padding-top: 70px;
}

.soep3{
	margin-top: -15px;
}

.noedels3{
	margin-top: 15px;
}

.wrap3{
	margin-top: 7px;
}

.text_block{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.text_block div{
	width: 180px;
}

.text_block span{
	font-weight: bold;
	font-size: 16px;
}

.text_block p{
	font-size: 16px;
}

/* OVER ONS SIER ELEMENTJES */

.blaadje_absolute_2{
	position: absolute;
	top: 1070px;
	right: 130px;
}

.blaadje_absolute_3{
	position: absolute;
	top: 1300px;
	left: 30px;
}

.blaadje_absolute_4{
	position: absolute;
	top: 1950px;
	right: 130px;
}

.blaadje_absolute_5{
	position: absolute;
	left: 30px;
	top: 2450px;
}

/* AGENDA */

.agenda{
	background: url('../images/blaadjesWit.png') rgba(112, 181, 44 ,0.3);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 70px;
	padding-bottom: 40px;
}

.agenda_tekst{
	padding-top: 30px;
}

.agenda_tekst p{
	font-size: 20px;
}

.flex_block{
	display: flex;
	padding-top: 20px;
}

.flex_block ul{
	list-style: none;
	padding: 0;
	font-size: 20px;
}

.flex_block div{
	margin-right: 150px;
}

/* AGENDA SIER ELEMENTJES */

.agenda_absolute{
	position: absolute;
	top: 3040px;
	left: 350px;
}

.agenda_absolute img{
	width: 250px;
}

.lijstje_absolute{
	position: absolute;
	top: 3370px;
	left: 1000px;
}

.lijstje_absolute img{
	width: 250px;
}

/* RESERVATIES */

.reservatie p{
	line-height: 20px;
}

.reservatie input{
	width: 800px;
	border-radius: 15px;
	padding: 5px;
}

.reservatie select{
	width: 800px;
	border-radius: 25px;
	padding: 5px;
}

.reservatie div{
	margin-bottom: 20px;
}

.reservatie form{
	width: 800px;
	margin: 0 auto;
	padding: 30px;
}


.reservatie input[type=checkbox], input[type=radio]{
	border-radius: 5px;
	max-width: 30px;
}

.reservatie input::placeholder{
	padding-left: 10px;
}

.btn{
	background: #E1A125;
	color: white;
}

.btn:hover{
	background: white;
	color: #E1A125;
	border: 1px solid #E1A125;
}

.vork_absolute{
	position: absolute;
	top: 3800px;
	left: 90px;
}

.lepel_absolute{
	position: absolute;
	top: 3800px;
	right: 70px;
}

/* FOOTER */

 footer{
 	background-color: #517060;
 	color: white;
 	padding-top: 30px;
 }

 .footer{
 	display: flex;
 	justify-content: space-between;
 }

 .footer_block_three{
 	width: 250px;
 }

 .footer_block_one{
 	width: 350px;
 }

 .social_flex{
 	display: flex;
 	margin-left: -25px;
 }

 .instagram{
 	margin-top: 8px;
 	margin-left: -15px;
 }

 .footer p{
 	font-size: 20px;
 	line-height: 28px;
 }

 .footer_block_three{
 	margin-top: 45px;
 }

 #mask {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 99;
    height: 250px;
    width: 250px;
    border: 2px solid #517060;
}
#mask iframe {
    position: absolute;
    border-radius: 50%;
    top: 0; left: 0;
    z-index: 50;
}
>>>>>>> Stashed changes
